.CardGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 15%; */
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  /* height: 45vh; */
}

.Card {
  /* width: 30%; */
}
