.Card {
  height: 175px;
  background-color: #242145;
  display: flex;
  flex-direction: column;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.264);
  margin-bottom: 1rem;
}

.Card:hover {
  background-color: rgba(111, 111, 111, 0.475);
  color: white;
}

.CardImage {
  background-color: lightgray;
  flex: 1;
}

.CardText {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.CardTitle {
  /* margin: 8px; */

  /* width: 100%; */
}

.CardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  font-size: small;
}
